.week {
  background-color: var(--light-bg);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);

  padding: 1em 20em 1em 4em;
}

.week:hover {
  background-color: var(--light-accent);
}

p {
  margin: 0px;
}

html {
  font-size: 16px;
}

.fx-hr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.strike {
  text-decoration: line-through;
}