:root {
  --radius: 20px;
  --light-bg: #eee;
  --light-accent: #ccc;


  --bg: var(--bg);
  --accent: var(--accent);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  margin: 0.25em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
